<section id="Hero1">

		<div class="container">



			<div class="jumbotron">
				  <h1>Welcome to GameHack</h1>
				  
				  <p>Ever wondered how to make Websites? How to develop
				  a login system? How to code games?
				  Then Codestraunauts is your home<br><br>
				  Discover our Library!</p>
				  <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
				</div>








					<div class="row" id="SignUps">
					  <div class="col-xs-6"><span class="glyphicon glyphicon-user" id="Symbol" aria-hidden="true">


					  </span>
					  <div class="signUp">
					 	<button type="button" class="btn btn-primary">Sign Up</button>
					  <p class="signup">Watch training on both sites, but you will still need to sign in on digitaltutors.com

						<br>
						<br>
						Subscribe, re-subscribe and change your subscription details or any account information on digitaltutors.com</p>
					 </div>
					 </div>


 					 <div class="col-xs-6"><span class="glyphicon glyphicon-pencil" id="Symbol" aria-hidden="true">


					  </span>
					  <div class="signUp">
					  <button type="button" class="btn btn-primary">Sign In</button>
					  <p class="signup">Subscribe or start a free trial above. Or start a subscription on Pluralsight.com and you’ll have access to all Digital-Tutors courses and manage your account on pluralsight.com

					  <br>
					  <br>

					If you received an invite to join a Digital-Tutors group, you can still follow those links.</p>
					 </div>
					 </div>
</div>



				</div>





		</section>


	<section id="Unity">

				<div class="container" id="UnityContainer">

					<div class="row">
						<h2 class="Unity">Learn with the industry standard Engine Unity and Monodevelop!</h2>

					   <div class="col-xs-6">
					
					<%= image_tag ("unity-logo.png"), id: "UnityLearn1", class:"img-rounded" %>
					 </div>
					 <div class="col-xs-6">
					 	
					 	<%= image_tag ("mono.png"), id: "UnityLearn2", class: "img-rounded"%>


					 </div>




					</div>
				</div>



	</section>










		<section id="Hero2">



			<div class="container">
			<div class="row">








			</div>
			</div>
		</section>


		<section id="Hero3">



				<div class="container">
				<div class="row">
				<h1>Learn everything about Game Development!</h1>



				  <div class="col-md-6"><h3>Learn how to use the Unity Editor!</h3>
				  <h3>Learn how to navigate</h3>
				  <h3>How to create your first C# script</h3>
				  <h3>How to use NavMesh</h3>
				  <h3>How to organize your project</h3>
				  <h3>Create Terrains</h3>


				  </div>
				  <div class="col-md-6">
						
						<%= image_tag ("mono.png"), class: "img-rounded", id: "UnityLearn2" %>

				  </div>








				  </div>
				  </div>





</section>



<section id="Hero3">



				<div class="container">
				<div class="row">


					<div class="col-md-6">
						
						<%= image_tag ("gears.png"), id: "UnityLearn2", class:"img-rounded"%>

				  </div>

				  <div class="col-md-6"><h3>How to setup a Camera</h3>
				  <h3>Scripting Animation</h3>
				  <h3>Building Animation Systems</h3>
				  <h3>Create Root Motions driven animation</h3>
				  <h3>Shooting system </h3>
				  <h3>How to interact with UI and create them</h3>


				  </div>









				  </div>
				  </div>





</section>


<section id="Hero3">



				<div class="container">
				<div class="row">

					<div class="col-md-6"><h3>How to make a 2D Game from Scratch!</h3>
				  <h3>2D Animation Systems</h3>
				  <h3>Collectable Items</h3>
				  <h3>Game Manager</h3>
				  <h3>Game driven Logic</h3>
				  <h3>Physical 2D Objects</h3>


				  </div>


					<div class="col-md-6">
						
						<%= image_tag "2d.jpg", class: "img-rounded", id: "UnityLearn2"%>

				  </div>











				  </div>

				  </div>





</section>


<section id="Hero4">

			<div class="container">
				<div class="row">

					<div class="col-md-6">


					<%= image_tag "unity2d.png", class: "img-rounded" %>
					</div>




					<div class="col-md-6">

						<h2>What are you waiting for? Join our Community for 14 days for free!</h2>
						<h1>Learn how to make games now!</h1>
						<p><a class="btn btn-primary btn-lg" href="#" role="button">Join Now!</a></p>


					</div>




		</div>
		</div>
</section>












</body>
</html>
